%h2 Static select2 for top 5 by population

= select2_tag :static_select,
              options_from_collection_for_select(biggest_countries, :id, :name),
              auto_select2: {placeholder: 'Select a country'},
              class: 'input is-wide',
              include_blank: true

%hr
%h2 Dependent ajax select2

= select2_tag :country_id,
              options_from_collection_for_select(biggest_countries, :id, :name),
              auto_select2: {placeholder: 'Select a country'},
              class: 'input js-country-input',
              include_blank: true

= select2_ajax_tag :city_id,
                   CitySearchAdapter,
                   '',
                   auto_select2: {placeholder: 'Select a city'},
                   class: 'input js-city-input'

%hr
%h2 Multi ajax select2 for top 10 by population

= select2_ajax_tag :multi_countries_select2,
                   TopTenCountrySearchAdapter,
                   '',
                   auto_select2: {placeholder: 'Select city', multiple: true},
                   class: 'input is-wide'

%hr
%h2 Init value

= select2_ajax_tag :default_country_id,
                   CountrySearchAdapter,
                   Country.first.id,
                   auto_select2: {placeholder: 'Select country once again'},
                   class: 'is-wide'
