!!! 5
%html
  %head
    %title AutoSelect2TagExample
    %meta{http_equiv: 'cleartype', content: 'on'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = static_select2_init_header_tags
    = ajax_select2_init_header_tags
    = ajax_multi_select2_init_header_tags
    = csrf_meta_tags
    %body{class: "#{'no-column'}"}
      = yield